.page {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 16px;
  align-content: flex-start;

  :global {
    .ant-breadcrumb-link {
      cursor: pointer;
    }
  }
}
