.page {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 16px;
  align-content: flex-start;

  :global {
    .ant-breadcrumb-link {
      cursor: pointer;
    }
  }

  .breadcrumbBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    .handleBox {
      min-width: 100px;
      flex-shrink: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  .selectedText {
    font-size: 14px;
    color: #333;
  }
}
